.loginView {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
